<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="factionID" value="167" />
    <add key="password" value="letmein"/>
    <add key="reportURL" value="http://www.lcog.co.uk/games/future_echoes/reports/" />
    <add key="playerFileURL" value="http://www.lcog.co.uk/games/future_echoes/playerfile.xml" />
    <add key="submitTurnURL" value="http://www.lcog.co.uk/submit.php" />
    <add key="shipTargetRadius" value="20"/>
    <!-- this is the shell call required to play the combat .avi for the universal build
         e.g.
              for Linux value="mplayer"
              for OS/X value="open"
              for Vista or WinXP value="" -->
    <add key="videoPlayerCall" value=""/>
  </appSettings>
</configuration>